.dashboard-sidebar {
  width: 300px;
  height: 100%;
  background-color: #0c1925;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.category-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.category {
  text-align: center;
  margin: 0 0 10px;
  width: 200px;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s;
  text-decoration: none; /* Add this to remove underline on the links */
  color: #fff; /* Set text color for links */
}

.category:hover {
  background-color: #6762a0;
}
.active {
  background-color: #6762a0;
}
