.tv-wrapper {
  height: max-content;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 20px;

  transition: padding 0.3s ease;
}
.tv-title {
  /* background-color: aqua; */
  color: white;
  width: max-content;
  height: 100px;
  font-weight: bold;
  position: absolute;
  left: 20px;
  top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.tv-container {
  object-fit: cover;
  overflow: hidden;
  height: 571px;
  /* background-color: rebeccapurple; */
}

.tv-wrapper:hover .tv-title {
  opacity: 1;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 36px 36px rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  opacity: 0;
}

.tv-wrapper:hover .shadow {
  opacity: 1;
}
