.topbar-container {
  display: flex;
  align-items: center;
  color: white;
  flex: 1;
}

.topbar-container > div {
  flex: 1;
  margin-left: 100px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.topbar-container img {
  width: 70%;
  max-width: 150px;
  min-width: 100px;
  cursor: pointer;
}
