.spinner-bucket {
  margin-top: 114px;
  /* background-color: #242555; */
  /* background-color: red; */

  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.spinner-container {
  background-color: white;
  width: 95%;
  border-radius: 20px 20px 0 0;
  padding: 30px;
}

.spinner-container h1 {
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient(to right, #ff0202, hsl(208, 100%, 43%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
